<%- include("partials/header") %>

    <div class="container">
        <div class="form-group text-center">
            <form action="/category" method="post">
                <label class="d-block text-center my-3" for="categoryName">Add Category</label>
                <input type="text" class="form-control" name="categoryName" id="" placeholder="Enter category">
                <button class="btn mx-auto text-center my-3 rounded-circle btn-primary "> +</button>
            </form>
        </div>
    </div>
<%- include("partials/footer") %>
